:global(.vtex-store__template) {
    --title-color:#8DC63F;
    --promotions-color: #301239;
    --green-offers: #8DBF44;
    --discounts-text: #727273;
    --dynamic-texts: #843a8d;
    --borders-buttons: #9362B7;
    --buttons-descriptions: #724293;
  }