.imageElement{
    align-self: center;
}

.notificationBarInner{
    height:  10px;
    color: #fff;
    
}

.notificationcontent{
    height: 10px;
} 

.image.element{
    height: 100% ;
    width: 100%
}

.notificationBarInner--notification__bar-content{
background-color: #c9afd2;
height: 20;
}

.min-h-large {
    min-height: 2rem;
}

