

/*<-----------------mobile styles -------------------->*/

@media screen and (max-width: 487px){

.container__quickorder {
    width: 97%;
    min-width: 265px;
    margin: auto;
}
.container__quickorderChildren{
    width: 100%;
    margin: 0 auto;
}
.title__quickorder{
    margin: auto;
}

.form__quickorder {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form__quickorderLabel{
    margin: 10px auto;
}
.form__quickorderButton{
    width: 80%;
    margin: 10px auto;
    align-items: center;
}

}