.paragraph--title__section-two{
    margin: 20px auto;
    max-width: 1280px;
    width: 100%;
    font-family: 'Cabin';
    font-size: 20;
    color:#8dc63f;
    font-weight: 400;
}

.paragraph--text-body__categories{
    color: #222;
    font-size: 14px;
    font-weight: 500;
    margin: 0 auto;
    ;}
