
.flexRow--section__one-slider__container{
    width: 1280px;
}

.flexRow--section__one-homeup-slider-content{
    width: 1280px;
}

.flexRow--section__one-homeup-slider-content{
    max-width: none;
    margin: 0 auto;
}
/* ---------------Categories fist group----------------*/
.flexRow--section__two-categories{
    width: 1280px;
    margin: 0 auto;
    
}

.flexRowContent--section__two-categories-container-one, .flexRowContent--section__two-categories-container-two{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.flexCol--categories__group-one, .flexCol--categories__group-one {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 1rem;
}

.flexRowContent--section__two-categories-container-one{
    width: 1280px;
    margin: 0 auto;
}

.flexRow--section__three-yourmarket-content{
    width: 1280px;
    margin: 0 auto;
}

.flexRow--market__group-one{
    margin: auto 15px;
}

.flexRow--market__group-two{
    display: flex;
   justify-content: center;
   align-items: center;
}

.flexRow--section__four-bestsellers-content{
    width: 1280px;
    margin: 0 auto;
}
.flexRow--section__five-wines-content{
    width: 1280px;
    margin: 0 auto;
}

.flexRowContent--section__six-yourhome-content{
    width: 1280px;
    margin: 0 auto;
    border-bottom: #efefef solid 1px;
    border-top: #efefef solid 1px;
}

.flexRow--section__seven-monthsproducts-content{
    width: 1280px;
    margin: 0 auto;
    margin-bottom: 10px;
}