

.notificationBarInner{
    height:  10px;
    color: #fff;
    
}

.notificationcontent{
    height: 10px;
} 

.image.element{
    height: 100% ;
    width: 100%
}

.notificationBarInner--notification__bar-content{
background-color: #c9afd2;
height: 20;
}

.min-h-large {
    min-height: 2rem;
}

.imageElement--section__one-image{
    max-width: none;
    margin: 0 3em 3em;
}


.section__eigth-container{
align-items: center;
    border-top: 1px solid #eae8e8;
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 4px 3px 5px -3px rgba(239,239,239,1);
}

.flexRowContent--group__container{
align-items: center;
    border-bottom: 1px solid #eae8e8;
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
    padding-top: 10px;}

.imageElement--section__one-image{
    width:100%;
}

.imageElement--market__image-one{
    height: 90%;
}

.infoCardContainer--info__card-wine{
    border: 1px solid rgba(46,46,46,.22);
    margin: 0 10px;
    border-radius: 5px;
   box-shadow:  0 1px 6px rgba(46,46,46,.22);
}

.imageElement--six__yourhome-category-image{
    max-height: 240px;
}


/* <---------------------------mobile------------------------> */


@media screen and (max-width: 487px){

.imageElement--six__yourhome-category-image{
max-height: 150px;
}

.imageElement--section__one-image {
    margin: 0 auto;
}

.infoCardImageContainer{
    width: 97%;
    min-width: 265px;
}

}