

.notificationBarInner{
    height:  10px;
    color: #fff;
    
}

.notificationcontent{
    height: 10px;
} 

.image.element{
    height: 100% ;
    width: 100%
}

.notificationBarInner--notification__bar-content{
background-color: #c9afd2;
height: 20;
}

.min-h-large {
    min-height: 2rem;
}

.imageElement--section__one-image{
    max-width: none;
    margin: 0 3em 3em;
}


.section__eigth-container{
align-items: center;
    border: 1px solid #eae8e8;
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
    padding-top: 10px;
}

.flexRowContent--group__container{
align-items: center;
    border: 1px solid #eae8e8;
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
    padding-top: 10px;}

.imageElement--section__one-image{
    width:100%;
}

