

.flexCol--department__results-content-col{
    display: flex;
    flex-basis: auto;
    background-color: #efefef;
    margin: 5px;
    height: 95%;
  
}

.flexColChild--department__results-filter{
    width: 300px!important;
    padding-right: 1rem;
    overflow: hidden;
    box-shadow: 4px 4px 6px rgb(0 0 0 / 16%);
    z-index: 1;
}

.flexRowContent--department__breadcrumb-content{
    display: flex;
    justify-content: center;
    align-items: center;
    }

.flexRow--row-trigger__add-to-cart-info{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexColChild--col-trigger__add-to-cart-info{
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}


.flexColChild--department__breadcrumb-content-col {  
    display: flex;
}

.flexColChild--department__department-search{
    align-items: center;
    height: 100%;
    display: flex;
    justify-content: space-between;
}