.paragraph--flex__text{
    color: #5a5a5a;
    font-size: 12px;
    margin-left: 15px;
    font-weight: 700;
}

.paragraph--group__desktop-title{
    color: #5a5a5a;
    font-size: 20px;
    margin: 10px;
}

.paragraph--subgroup__text-information{
    color: #5a5a5a;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    text-decoration: none;
}

.paragraph--subgroup__text-information-sub{
    color: #5a5a5a;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    text-decoration: underline;
}

.link--subgroup__link-information{
    color: #5a5a5a;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    margin-left: 5px;
    text-decoration: none;
  }

  .paragraph--code__flex-qr-text{
    border-left: 2px solid #d3d3d3;
        color: #9a9a9a;
        font-size: 26px;
        font-weight: 700;
        margin: 0 0 15px 15px;
        padding-left: 15px;
        text-align: center;
    }

    .paragraph--visita{
    color: #4d5766;
    font-size: 13px;
    margin: auto 50px;
    }

   

    .container--rights{
        display: flex;
        align-items: center;
    }
    
    .paragraph--rights{
     color: #4d5766;
    font-size: 13px;
    }

    .paragraph--principal-text{
        font-size: 17px;
        font-weight: 600;
        color: #5a5a5a;
        margin-right: 7px;
    }

    .paragraph--secondary-text{
        font-size: 17px;
        font-weight: 600;
        color: #5a5a5a;
        margin-right: 7px;
    }

    :global(.vtex-rich-text-0-x-link) {
        color: #636e74 !important;
        text-decoration: none;
    }

    :global(.vtex-rich-text-0-x-link):hover {
        color: #5a5a5a !important;
        text-decoration: underline;
        font-weight: 700;
        line-height: 15px;
        overflow: hidden;
        
    }

    .wrapper--principal-text{
    margin: auto;
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-bottom: -1px;
    z-index: 2;
    background: #fff;
    border: 1px solid #ffffff;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 600;
    }

    .container--principal-text{
        display: flex;
        width: 80%;
        justify-content: flex-start;
    }