.imageElement--code__flex-qr-image{
    width: 75px;
}


.imageElement--code__flex-app-image  {
    height: 41px;
    padding-left: 22px;
    width: 41px;
    }

 /* <-------------------Tablet styles--------------------> */

@media screen and (min-width: 488px) and (max-width: 900px) {

    .vtex-store-components-3-x-sizeMobile{
        min-width: none !important;
        padding: 0 !important;
    }

}