
.flexRowContent--section__eigth-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: #efefef solid 1px;
    padding: 5px 0px;
    
}
.flexRow--group__container{
    display: flex;
    align-items: flex-start;
}

.flexCol--footer__desktop-contact{
display: flex;
justify-content: center;
}

.flexRow--footer__desktop-top  , .flexRowContent--bottom__footer{
    background-color: #efefef;
    margin: 0 auto;
}

.flexRowContent--container__information{
    display: flex;
    align-items: center;
    height: 40px;
    margin: 0 10px;
}

.flexColChild--footer__desktop-contact{
    margin-left: 10px;
    margin-bottom: 15px;
}

.flexColChild--footer__desktop-elements{
    margin: 0;
    padding: 0;
}

.flexCol--form_header{
    max-height: 50%;
}

.flexColChild--footer__desktop-suscribe{
    margin-left: 10x;
}

.flexRowContent--form__suscribe-data{
display: flex;
justify-content: space-around;
align-items: center;
gap:15px;
}

.confirmationCheckBoxContainer{
    margin: 20px 20px;
    background-color: aquamarine;
}

.flexRowContent--code__flex{
    align-items: center;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 3px 6px rgb(60 60 60 / 16%);
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    text-decoration: none;
    width: fit-content;
    pointer-events: none;
}

.flexCol--footer__desktop-app {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin:0 15px 0 15px;
    padding-left: 15px;

}

.flexRowContent--first__section-group{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.flexRowContent--first__section-group-two-logos{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.flexColChild--text-rigths{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
}

.flexRow--bottom__footer{
    background-color: #efefef;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.flexCol--bottom__content-first{
    margin-bottom: 20px;
}

.flexRow--footer__desktop-middle{
    background: #efefef;
}

.flexRow--desktop__middle-bottom-content{
    background: #ffffff
     ;
}

.flexCol--container__disclosure-information-second{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.flexColChild--container__disclosure-information-second{
    background-color: #ffffff;
}

.flexRow--container__disclosure-information-first{
    background-color: #ffffff;
}

.flexRowContent--trigger__container-information-one{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flexCol--bottom__content-first{
    margin: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.flexRowContent--footer__desktop-middle :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    display: flex;
    flex-direction: column;
}

.flexRowContent--container__text-information {
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    cursor: pointer;
    margin-bottom: -1px;
    z-index: 2;
    background: #fff;
   /* border: 1px solid #ededed;*/
    border-bottom: none;
    padding: 4px 20px;
    color: #000;
    transform: translateY(0px);
    height: 50px;
    width: 153px;
    border-radius: 5px 5px 0px 0px;
}

.flexRowContent--container__text-information :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: auto !important;
}

.container__disclosure-information-title {
    background-color: #fff;
    color: #4d5766;
    border: 1px solid #ededed;
    border-bottom: transparent;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    height: auto;
    justify-content: center;
    min-height: 67px;
    padding: 0 20px;
    width: 100%;
    align-items: center;
}
.flexRowContent--disclosure-information-one :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: auto !important;
}

.flexRowContent--disclosure-information-one, .flexRowContent--disclosure-information-two-container{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    cursor: pointer;
    background-color: #fff;
}


.flexRowContent--disclosure__content-information {
    background-color: #fff;
    color: #4d5766;
    padding: 0 20px;
    width: 100%;
}

.flexRowContent--disclosure__content-information :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 15px;
    overflow: hidden;
    padding-bottom: 10px;
    padding-right: 30px;
    max-height: 500px;
    transition: max-height .25s ease-in;
}

.flexRowContent--container__disclosure-information-title{
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.flexCol--bottom__footer-first {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}

/* <-------------------mobile styles--------------------> */

@media screen and (max-width: 487px){

.flexCol--footer__desktop-suscribe{
    margin-bottom: 25px;
}

.flexRowContent--form__suscribe-data{
    display: flex;
    flex-direction: row;
    gap:0.1px;
    width: 97%;
}

.flexCol--footer__desktop-app{
    padding-left: 0;
    margin: 10px 1px 10px 1px;
}

.flexRow--container__text-information{
    display: none;
}

.flexRowContent--container__disclosure-information-title
{
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
    width: 97%;
}

.flexRowContent--footer__desktop-middle.stretchChildrenWidth {
margin: 0px;
}

.flexRow--footer__desktop-middle{
    background-color: #fff;
}

.flexRowContent--first__section-group{
    flex-direction: column;
    margin-top: auto;
}

.flexRowContent--first__section-group-two-logos{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    width: 100%;
    flex-wrap: wrap; /*si le quito esto vuelve a colocarse transversal y se expande por toda la pantalla*/
    flex-direction: row;
   
}
}