.headerRowContainer, .flexRow--flex__4desktop{
    background-color: var(--green-offers);
    width: 100%
}

.headerRowContainer--header__top{
    color:#fff
}



.headerRowContentContainer--header__top{
    background-color: var(--green-offers);
}

.headerRowContainer--header__top{
    background-color: var(--green-offers)
}