.notificationBarContainer--notificationBarInner{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*<------mobile styles -------->*/

@media screen and (max-width: 489px) {

.logoContainer--header__top-logo{
    padding-left: 0px;
}

}