.headerRowContainer, .flexRow--flex__4desktop{
    background-color: var(--green-offers);
    width: 100%
}

.headerRowContainer--header__top{
    color:#fff;
    display: flex;
    justify-content: center;
    height: 44px;
}



.headerRowContentContainer--header__top{
    background-color: var(--green-offers);
}

.headerRowContainer--header__top{
    background-color: var(--green-offers)
}

.headerRowContainer--header__top-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
}