.notificationBarContainer--notificationBarInner{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*<------mobile styles -------->*/

@media screen and (max-width: 489px) {

.container{
    /*padding: 0px;*/
}

}