.quantitySelectorButton--minicart-quantity-selector{
color: var(----buttons-descriptions);
}

.productPrice {
    color: #5a5a5a;
    font-weight: 700;
    font-family: 'Cabin' !important;
    font-size: 14px;
    margin: 5px 5px;
}


/*<----------- mobile------------->*/
@media screen and (max-width: 489px) {
.inputContainer{
    width:63%
}

}