.headerRowContainer, .flexRow--flex__4desktop{
    background-color: var(--green-offers);
    width: 100%
}

.headerRowContainer--header__top{
    color:#fff;
    display: flex;
    justify-content: center;
    height: 44px;
}



.headerRowContentContainer--header__top{
    background-color: var(--green-offers);
}

.headerRowContainer--header__top{
    background-color: var(--green-offers)
}

.headerRowContainer--header__top-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*<-----------------mobile styles--------------->*/

@media screen and (max-width: 489px) {


}

@media (max-width: 768px) {
    .headerStickyRow--header__mobile-one :global(.vtex-store-components-3-x-container),
    .headerStickyRow--header__mobile-two :global(.vtex-store-components-3-x-container)  {
      padding: 0;
    }
   }